@code {
    public static RenderFragment Columns<TGridItem>(ColumnManager<TGridItem> columnManager)
    => @<text>
        @foreach (var col in columnManager.Get())
        {
            if (col.ColumnType == typeof(EmptyColumn<TGridItem>))
            {
                <EmptyColumn TGridItem="TGridItem" Title="@col.Title" Align="@col.Align" Class="@col.Class">
                    <i></i>
                </EmptyColumn>
            }
            else if (col.ColumnType == typeof(ImageColumn<TGridItem>))
            {
                <ImageColumn TGridItem="TGridItem" Title="@col.Title"
                             Align="@col.Align"
                             Class="@col.Class"
                             Property="@col.Property" />
            }
            else if (col.ColumnType == typeof(TickColumn<TGridItem>) && col is TickPropertyColumn<TGridItem> tickPropertyColumn)
            {
                <TickColumn TGridItem="TGridItem" Title="@col.Title"
                            Align="@col.Align"
                            Class="@col.Class"
                            Property="@col.Property"
                            ShowOnlyTrue="@tickPropertyColumn.ShowOnlyTrue"
                            Sortable="true" />
            }
            else if (col.ColumnType == typeof(TemplateColumn<TGridItem>))
            {
                <TemplateColumn TGridItem="TGridItem" Title="@col.Title"
                                Align="@col.Align"
                                SortBy="@col.SortBy"
                                Class="@col.Class">
                    @col.ChildContent(context)
                </TemplateColumn>
            }
            else
            {
            // Format="@col.Format" is not working, causing Blazor to crash
                <PropertyColumn Title="@col.Title"
                                Align="@col.Align"
                                Class="@col.Class"
                                Property="@col.Property"
                                Sortable="true">
                </PropertyColumn>
            }
        }
    </text>;

    // Not working, eventually, I would like to pass a call back function instead of using Test()
    // Also, it can't be static
    // Error: System.InvalidOperationException: The render handle is not yet assigned. This happens because of @onclick handler
    // Temporary solution, move the GetActionColumn to a "QuickGridPageBase" and inherid this page and so this method will be available for the child pages to be reused
    public RenderFragment<TGridItem> GetActionColumn<TGridItem>(Expression<Func<TGridItem, object?>> property)
    {
        var propertyName = (property.Body as MemberExpression)?.Member.Name;
        var propertyGetter = property.Compile();

        return (context) => @<span @onclick="@(() => Test())" class="text-info">@propertyGetter(context)</span>;

        void Test()
        {
            Console.WriteLine("Hello World");
        }
    }

    public static RenderFragment MarkupColumn(MarkupString markupString) => @<text>@markupString</text>;
}